.glyphicon-refresh-animate
{
	-animation:spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
	font-size:3em;
	color:#FFF;
}
@-webkit-keyframes spin2
{
	from{ -webkit-transform:rotate(0deg);}
	to{ -webkit-transform:rotate(360deg);}
}
@keyframes spin
{
	from{ transform:scale(1) rotate(0deg);}
	to{ transform:scale(1) rotate(360deg);}
}
.connection
{
	width:400px; padding:15px; margin:0 auto;
}
.bannerPublico
{
	width:auto;	
	
}
@media screen and (max-width:767px)
{
	.connection
	{
		width:100%; padding:15px; margin:0 auto;
	}
	.bannerPublico
	{
		width:100%;	
	}
}

@media screen and (max-width:890px)
{
	.bannerPublico
	{
		width:100%;	
	}
}